<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>


## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

<h2>Import Libraries</h2>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in f:\programdata\anaconda3\lib\site-packages (1.3.9)

WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: ibm_db_sa in f:\programdata\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in f:\programdata\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)

WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: ipython-sql in f:\programdata\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in f:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in f:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in f:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in f:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in f:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in f:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: colorama in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pygments in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in f:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in f:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in f:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (f:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (f:\programdata\anaconda3\lib\site-packages)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

# pick from db2:
#  - my-username
#  - my-password
#  - my-hostname
#  - my-port
#  - my-db-name
# Then substitute them in the line below

%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

%sql select distinct(LAUNCH_SITE) from SPACEXTBL

<strong>Result</strong>
<div style="float:left">
<table >
  <tr>
    <th>launch_site</th>
  </tr>
  <tr>
    <td>CCAFS LC-40</td>
  </tr>
  <tr>
    <td>CCAFS SLC-40</td>
  </tr>
  <tr>
    <td>KSC LC-39A</td>
  </tr>
  <tr>
    <td>VAFB SLC-4E</td>
  </tr>
</table>
    </div>

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

%sql select * from SPACEXTBL WHERE LAUNCH_SITE like 'CCA%' limit 5

<img src ="table-01.jpg" style="width:100%; height:auto">

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

%sql select SUM (PAYLOAD_MASS__KG_) from spacextbl where customer = 'NASA (CRS)'

<strong>Result</strong>
<div style="float:left">
<table >
  <tr>
    <th>1</th>
  </tr>
  <tr>
    <td>45596</td>
  </tr>

</table>
</div>

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

%sql select avg(PAYLOAD_MASS__KG_) from spacextbl where BOOSTER_VERSION = 'F9 v1.1'

<strong>Result</strong>
<div style="float:left">
<table >
  <tr>
    <th>1</th>
  </tr>
  <tr>
    <td>2928</td>
  </tr>

</table>
</div>

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

%sql select min(DATE) from spacextbl where LANDING__OUTCOME = 'Success (ground pad)'r

<strong>Result</strong>
<div style="float:left">
<table >
  <tr>
    <th>1</th>
  </tr>
  <tr>
    <td>2015-12-22</td>
  </tr>

</table>
</div>

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

%sql select BOOSTER_VERSION from spacextbl where LANDING__OUTCOME = 'Success (drone ship)' and PAYLOAD_MASS__KG_ between 4000 and 6000

<strong>Result</strong>
<div style="float:left">
<table >
  <tr>
    <th>booster_version</th>
  </tr>
  <tr>
    <td>F9 FT B1022</td>
  </tr>
  <tr>
    <td>F9 FT B1026</td>
  </tr>
  <tr>
    <td>F9 FT B1021.2</td>
  </tr>
  <tr>
    <td>F9 FT B1031.2</td>
  </tr>
</table>
</div>

### Task 7

##### List the total number of successful and failure mission outcomes

%sql select MISSION_OUTCOME as Results, count(MISSION_OUTCOME) as Quantity from spacextbl group by MISSION_OUTCOME

<strong>Result</strong>
<div style="float:left">
<table >
  <tr>
    <th>results</th>
    <th>quantity</th>
  </tr>
  <tr>
    <td>Failure (in flight)</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Success</td>
    <td>99</td>
  </tr>
  <tr>
    <td>Success (payload status unclear)</td>
    <td>1</td>
  </tr>
</table>
</div>

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

%sql select BOOSTER_VERSION, PAYLOAD_MASS__KG_ from spacextbl where PAYLOAD_MASS__KG_ = (select Max(PAYLOAD_MASS__KG_) from spacextbl)

<img src ="table-02.jpg" style="width:20%; height:auto; float:left">

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

%sql select BOOSTER_VERSION, LANDING__OUTCOME, LAUNCH_SITE, Date from spacextbl where LANDING__OUTCOME = 'Failure (drone ship)' and year(Date) = '2015'

<img src ="table-03.jpg" style="width:40%; height:auto; float:left">

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

%sql select LANDING__OUTCOME, COUNT(LANDING__OUTCOME) as total from spacextbl where date >='2010-06-04' and date<='2017-03-20' group by LANDING__OUTCOME

<img src ="table-04.jpg" style="width:20%; height:auto; float:left">

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>